{% extends "layout.html" %}

{% block content %}
<!-- <select name="select">
      <option value="templateHotels">Hotels</option> 
      <option value="templateRestaurants" selected>Restaurants</option>
      <option value="templateActivities">Activities</option>
    </select> -->

<!-- <select>
{ % for hotel in templateHotels %}
</select>
  </option>hotel.name</option> -->

<!-- <ul>
{{ templateRestaurants }}
</ul>

<ul>
{{ templateActivities }}
</ul>
 -->


  <!-- <h3>Trips</h3>
  <hr>
  <form method="GET" action="/wiki/search">
    <input type="text" name="search" />
    <button type="submit">Search</button>
  </form>
  <hr>
  <ul class="list-unstyled">
    <ul>
      {% autoescape false %}
      {% for page in pages %}
      <li>
        {{ page | pageLink }}
      </li>
      {% endfor %}
      {% endautoescape %}
    </ul>
  </ul> -->
{% endblock %}



